<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
    Splurty was built by <a target="_blank" href="http://github.com/danielsutton24">Daniel</a>. A web developer who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    He has recently started his new career in web development, where he plans to create apps and webpages to help people in everyday life.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Daniel Sutton</h2>
      <br />
      <p>
        Daniel Sutton is a web developer in training at the University of Central Florida. He is looking to create apps and webpages to share his ideas with everyone. 
      </p>
    </div>
  </div>



</div>

<br class="clear" />
<br />
<br />
<br />
<br />


</div>
